@import 'abstracts/variables';
.betonline-logos {
    .betonline-logos__secure {
        width: 38%;
    }
    .betonline-logos__rating {
        width: 118%;
    }
    .betonline-logos__payouts {
        width: 48%;
    }
    hr {
        border-top: 1px solid red;
    }
}